#virtual environment
env/

# Python
__pycache__/
*.pyc

# Django
db.sqlite3

# Static files collected by collectstatic
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db